
<h1>
	Welcome to app !
</h1>
<table class="table table-heroes">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Role</th>
		</tr>
	</thead>
	<tbody>
		<tr
			*ngFor="let hero of heroes"
			[class.active]="hero === selectedHero"
			(click)=" hero === selectedHero ? onSelect(null) : onSelect(hero)"
		>
			<td>{{ hero.id }}</td>
			<td>{{ hero.name }}</td>
			<td>{{ hero.role.name }}</td>
		</tr>
	</tbody>
	
</table>

<div *ngIf="selectedHero">
	<h2>{{selectedHero.greet() }} </h2>
	<div>
		<label>id: </label>{{selectedHero.id}}
	</div>

	<div>
		<label>name: </label>
		<input [(ngModel)]="selectedHero.name" placeholder="name"/>
	</div>
	<br>
	<button (click)="deleteHero(selectedHero); onSelect(null)">Delete a this hero</button>
	<br>
	<pre>{{selectedHero | json}}</pre>
</div>

<form
	*ngIf="selectedHero === null"
	name="newHeroForm"
	(ngSubmit)="createHero(newHero)"
>
	<h2>Create a new hero</h2>
	<div>
		<label>id: </label>{{ findAvailableId() }}
	</div>
	<div>
		<label>name: </label>
		<input
			[(ngModel)]="newHero.name"
			placeholder="name"
			name="newHeroName"
			required
		/>
	</div>
	<br>
	<button type="submit" >Create a new hero</button>
</form>
