.table-heroes{
	tbody tr{
		&:nth-child(even){
			background: #eee;
		}
		&:nth-child(odd){
			background: #ddd;
		}
		&:hover{
			background: #f0f0f0;
		}
		td{
			padding: 2px 16px;
			&:nth-child(1){
				
			}
			&:nth-child(2){
				font-weight: bold;
			}
			&:nth-child(3){

			}
		}		
	}
}

